<h1>Eat The Burger App!!!</h1>

<ul>
    {{#each burgers}}
    <li>
        <p>{{this.id}}. {{this.burger}}</p>
        <form action="/delete?_method=DELETE" method="POST">
        <input type="hidden" name="id" value="{{this.id}}">
        <button type="submit">Eat</button>
        </form>
    </li>
{{/each}}
</ul>
